@import "tailwindcss";
@theme{
    
    --brand-neutral : #262540;
    --brand-dark: #02012C;
    --brand-mid: #302F4A;
    --brand-outline : #3C3B5E;
    --brand-text : #D4D3D9;
    --brand-blue : #4658D9; 
    --brand-dark-blue: #2B1B9C;
    --dm-sans : "DM_Sans";
    --bricolage: "BricolageGrotesque";
}

@font-face {
    font-family: "DM_Sans";
    src: url("/font/DMSans.ttf") format('truetype');
}
